.skeleton-box {
  margin-top: 80px;
  padding: 20px;
}
.MuiBox-root {
  width: 90%;
  margin-bottom: 20px;
  box-sizing: border-box;
}

/* 상품 상세화면 로딩 화면 스타일 */
#detail #contentContainer .container {
  margin-top: 50px;
}
