.skeleton-box {
  margin-top: 80px;
  padding: 20px;
}
.MuiBox-root {
  width: 90%;
  margin-bottom: 20px;
  box-sizing: border-box;
}
#detail.skeleton .banner {
  margin-top: 60px;
}
#detail.skeleton .mini-title {
  margin-top: 25px;
}
#detail.skeleton #contentContainer .container {
  margin-top: 0px;
}
